$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$nl-green: #8c991b;
$nl-green-alt: #84bc2c;
$nl-dark-green: #043418;
$white: #fff;
$black: #000;

:root {
	font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.footer {
    background-color: $nl-dark-green;

    &__lst {
        li {
            &::after {
                content: "|";
                color: $white;
                margin-right: 15px;
                margin-left: 10px;
            }

            &:last-child {
                &::after {
                    content: "";
                }
            }
        }
        
    }
}